@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 1200px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("images/phare.png")
    
}

#login{
    text-align: end;
    margin: 25px 20px 0 0 ;
}

button{
    background-color: rgb(255, 236, 128);
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    color: black;
}

.button{
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}
.button:visited{
    color: black;
}

button:hover{
    background-color: red;
}

a{
    color: black;
}

h1{
    font-weight: lighter;
    font-size: 100px;
    margin: 250px 0 0 125px;
}

h2{
    color: grey;
    font-weight: lighter;
    font-size: 50px;
    margin: 0px 0 0 200px;
}

main{
    text-align: center;
}

h3{
    font-weight: lighter;
    font-size: 100px;
    margin: 10px;
}

p{
    font-weight: lighter;
    font-size: 44px;
    margin: 10px 0px;
}
nav{
    color: grey;
    font-weight: lighter;
    margin: 100px 40px 50px 40px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

li{
    list-style: none;
    border: solid 2px;
    padding: 10px 50px;
    font-size: xx-large;
    font-weight: lighter;
}

a{
    text-decoration: none;
    color: grey;
}

#parapluie{
    background-color: rgb(126, 208, 183);
    grid-column: 1;
}
#monnaie{
    background-color: rgb(195, 174, 146);
    grid-column: 2;
}
#fusée{
    background-color: rgb(111, 190, 230);
    grid-column: 3;
}
#portefeuille{
    background-color: rgb(238, 181, 82);
    grid-column: 1;
}
#calculatrice{
    background-color: rgb(228, 132, 93);
    grid-column: 2/ span 2;
    display: flex;
    flex-direction: row;
}
#bank{
    background-color: rgb(170, 204, 167);
    grid-column: 1/ span 2;
    display: flex;
    flex-direction: row;
}
#immeuble{
    background-color: rgb(137, 156, 154);
    grid-column: 3;
}

.titre-icone{
    font-size: large;
    font-weight: bolder;
    color: whitesmoke;
    margin-left: 20px;
}
.container{
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    gap: 10px;
    margin: 40px ;
}
.icone{
    padding: 40px;
}
